/*import général à toujours copier*/

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans+Condensed:wght@300&display=swap');
@import url("components/container.css");
@import url("components/menu.css");
@import url("components/category.css");
@import url("components/card.css");
@import url("components/delivery.css");
@import url("components/profile.css");
@import url("components/social-media.css");
@import url("components/banner.css");
@import url("components/banner-dress.css");
@import url("components/buy.css");
@import url("components/comments-loggin.css");
@import url("components/create.css");
@import url("components/details.css");
@import url("components/fees.css");
@import url("components/header.css");
@import url("components/info.css");
@import url("components/look.css");
@import url("components/mastercard.css");
@import url("components/news.css");
@import url("components/paypal.css");
@import url("components/summary-order.css");
@import url("components/table-info.css");
@import url("components/title-loggin.css");
@import url("components/title-payment.css");
@import url("components/visa.css");
@import url("components/header-loggin.css");
@import url("components/drop-down-menu.css");
@import url("components/contact-us.css");
@import url("components/workshop.css");
@import url("components/loggin-form.css");
@import url("components/gallery.css");

/*colors and fonts, toujours copier*/

body {
  font-family: 'Courgette', cursive;
  font-size: 20px;
  color:#074A35;
  margin: 0px;
}

h1,h2,h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #074A35;
  font-weight: bold;
}

h4,h5 {
  color: #074A35;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 10px;
}

h6 {
  font-size: 16px;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: #074A35;
  transition: color 0.3s ease;
  font-size: 18px;
}

ul {
  text-align: center;
}


/*list style category section, toujours copier*/

.list {
  list-style: none;
  font-size: 18px;
}

.list ul {
  text-align: center;
}

.list li {
  display: inline;
  padding-right: 100px;
}

/*list style delivery section, toujours copier*/

.list-delivery {
  list-style: none;
  padding-left: 0px;
  font-size: 14px;
  color: #F6DAC8
}

.list-delivery li {
  display: inline-block;
  padding:15px;
}

.list-delivery i {
  font-size: 25px;
}

#choose-delivery ul {
  text-align: center;
}

/*list style profile section, toujours copier*/

.list-profile {
  list-style: none;
  font-size: 15px;
  background-color: #F8ECDD;
  margin-block-end:0px;
}

/*list dress page section*/

.list-banner-dress {
  list-style: none;
  text-align: left;
  padding-left: 100px;
}

.list-banner-dress li{
  display: inline;
  padding-right: 100px;
}

.card i {
  padding-right: 10px;
}

.imagesleft {

  text-align: center;
  padding-top: 40px;
}

/*inspiration look*/

.imagecentre {

  text-align: center;
  padding-left: 40px;

}

.imageright {

  text-align: right;
  padding-left: 40px;

}

.imageleft {

  text-align: left;
  padding-left: 40px;

}
.class-center {

  padding-top:10px;
  padding-bottom: 10px;

}

.text-center {
  padding-top: 40px;
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 40px;
}

/*About us*/

.about-us p {
  font-size: 20px;
  text-align: center;
  margin: 50px;
}

#video-table td {
  text-align: center;
}

#video-table {
  margin: auto;
}






