/* list sytle buy-button section */ 

.buy-button {
	background: #074A35;
	margin: 0px;
	width: 52px;
	margin-left: 100px;
	padding-left: 25px; 
	padding-right: 25px; 
	margin-top: 10px; 
	margin-bottom: 10px; 

}

.buy-button-text  {
	color: #EDCFA9; 
	font-size: 16px; 
}

button .us {
	width: 25px; 
}