/* list style cards section */

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px; 
}

.card {
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
  border-radius: 6px;
  margin:10px;
  flex-basis: 150px;
  flex-grow: 1;
  flex-wrap: wrap;
}

.card h3 {
  flex-grow: 1;
  font-size: 20px;
  padding-left: 20px;
}

.card img,.card a {
  width: 250px;
  margin: auto;
}


.card i {
  font-size: 20px;
}

/*card dress page */

#white-dress img {
  width: 225px;
}

