/* list style card dress section */

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 20px;
  /*display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
  border-radius: 6px;
  margin:10px;
  flex-basis: 150px;
  flex-grow: 1;
  flex-wrap: wrap;*/
}

.card img,.card a {
  /*margin: auto;*/
  width: 250px;
}

.card h3 {
  /*flex-grow: 1;*/
  padding-left: 20px;
  /*font-size: 20px;*/
}

.card i {
  font-size: 20px;
}

/*card dress page */

#white-dress img {
  width: 225px;
}
