/* list sytle gallery section */

.slidershowhome{
	width: 100%;
	height: 395px;
	overflow: hidden;
 }

.middlehome {
	position: relative;
 }


.navigationhome {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.barhome{
	width: 25px;
	height: 10px;
	border: 2px solid #fff;
	margin: 5px;
	cursor: pointer;
	transition: 0.4s;
}

.barhome:hover {
	background: #fff;

}

input[name="r"]{
	position: absolute;
	visibility: hidden;
}

.slideshome {
	width: 500%;
	height: 100%;
	display: flex;
}

.slidehome {
	width: 20%;
	transition: 0.6s;
}



.slidehome img{
	width: 	100%;
	height: 100%;
}

#r6:checked ~ .s1{
	margin-left: 0;
}

#r7:checked ~ .s1{
	margin-left: -20%;
}

#r8:checked ~ .s1{
	margin-left: -40%;
}

#r9:checked ~ .s1{
	margin-left: -60%;
}

.overtext {
	position: relative;
	padding-left: 20px;
}


