.social-media {
  padding: 2px 0px;
  height: 52px;
  left: 0px;
  top: 59px;
  background: rgba(232, 159, 113, 0.39);
  background-color: #C4C4C4;
  padding-left: 10%;
  padding-right: 10%;
}

.icone-media-left {
  float: left;
}

.icone-media-right {
  float: right;
}
